.wp-block-post-excerpt__excerpt {
    margin: 0;
}

.wp-block-post-featured-image img {
    border-radius: .25rem;
}

.wp-block-site-title a {
    text-decoration: none;
}

.wp-block-social-links svg {
    fill: var(--wp--preset--color--foreground) !important;
}