<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Bonjour !</p>
<!-- /wp:paragraph -->

<!-- wp:query {"queryId":23,"query":{"perPage":3,"pages":0,"offset":0,"postType":"projet","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":4}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:post-featured-image /-->

<!-- wp:post-title /-->
<!-- /wp:post-template -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Ajoutez du texte ou des blocs qui s’afficheront lorsque la requête ne renvoie aucun résultat."} -->
<p>Aucun résultat.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer"} /-->