<!-- wp:template-part {"slug":"header","tagName":"header","align":"center"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"8rem","bottom":"8rem"},"blockGap":"2rem"}},"layout":{"inherit":true}} -->
<main class="wp-block-group alignfull" style="margin-top:8rem;margin-bottom:8rem"><!-- wp:post-title {"fontSize":"x-large"} /-->

<!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0rem","bottom":"0rem"}}},"layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between","flexWrap":"wrap"}} -->
<div class="wp-block-group" style="margin-top:0rem;margin-bottom:0rem"><!-- wp:post-navigation-link {"showTitle":true} /-->

<!-- wp:post-navigation-link {"type":"previous","showTitle":true} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->