.wp-block-categories-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.wp-block-categories-list li {
    display: inline;
}

.wp-block-categories-list li:not(:first-child):before {
    content: '·';
    margin: 0 .5rem;
}

.wp-block-categories-list a {
    text-decoration: underline;
}