.wp-block-post-excerpt p {
    margin-bottom: 0;
}

.wp-block-column .wp-block-post-excerpt p:not(.wp-block-post-excerpt__more-text) {
    margin-top: -1rem;
}

/* Option 'Add "read more" link text' hidden */
.wp-block-post-excerpt__more-text {
    display: none;
}